In [1]:
# Q1. Using Python script as a calculator
# Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then
# evaluate the following expression in the Python console.
# ùê¥ = ùëù (1 + ùëü/ 100)n

#Q1.  Answer- b.162.89
# Assigning values to variables
n = 10
r = 5
p = 100

# Evaluating the expression A = p * (1 + r / 100) ** n
A = p * (1 + r / 100) ** n

# Printing the result
print(A)

162.8894626777442

In [2]:
# Q2. In a given string format operation, how will you print the given string.
# A = 10
# B = 20
# Str = "There are {} students in the class, with {} who play at least one sport.
#Q2. Answer- d.None of the above

A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport."
print(Str.format(A, B))

There are 10 students in the class, with 20 who play at least one sport.

In [3]:
# Q3. . In a given sample string, How do you print a double quoted string in between a
# regular
# string using the escape character?
# Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.
# Q3. Answer- a. print("It goes without saying, \"Time is Money\", and none can deny it.")
print("It goes without saying, \"Time is Money\", and none can deny it.")

It goes without saying, "Time is Money", and none can deny it.

In [5]:
#Q4. What will be the output of the following code?
# Q4 Answer : b. 3
x = lambda a,b: a//b
x(10,3)

3

In [6]:
# Q5. What will be the output of the following code?
# A = 10
# B = 12
# print("Smaller") if A == B else print("Greater") if A < B else print("True")
# Q5. Answer : c. Greater
A = 10
#B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")

Greater

In [7]:
# Q6. What will be the output of the following code?
# Q6. Answer: c. NameError: name 'numpy' is not defined

import os
import numpy as np
my_list1 = [2,7,3,5,4,6]
print(my_list1)
arr_1 = numpy.array(my_list1, dtype = int)
print(arr_1)

[2, 7, 3, 5, 4, 6]

NameError: name 'numpy' is not defined

In [8]:
# Q7. Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. Which code(s)
# is/are appropriate to slice the substring ‚ÄúLearn‚Äù?
#Q7 Answer : d. string[slice(8, 13, 1)]
string = "Machine Learning"
substring = string[8:13]
print(substring)  # Output: Learn

Learn

In [9]:
# Q8. Create a sequence of numbers from 10 to 25 and increment by 4. What is the index of the value 18?
# Q8 Answer: b. 2

# Create the sequence
sequence = list(range(10, 26, 4))

# Find the index of the value 18
index_of_18 = sequence.index(18)

sequence, index_of_18

([10, 14, 18, 22], 2)

In [10]:
# Q9. Which of the following is true with respect to the below codes?
# Q9 Answer: c. num1< num2

num1 = 5*4
num2 = pow(5,4)
print(num1,num2)

20 625

In [ ]:
# Q10.A Python NameError exception is raised when: -
# Q10 Answer a. Trying to access a variable which has not been defined

In [11]:
# Q11.What type of exception will be raised for the code given below?
# Q11 Answer: c. ValueError
x= "string"
int(x)

ValueError: invalid literal for int() with base 10: 'string'

In [ ]:
# Q12.A FileNotFoundError exception is raised by operating system errors when: -
# Q12 Answer b. A file or directory is requested but does not exist in the working directory

In [ ]:
# Q13.Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: -
# Q13 Answer: b. Character

In [ ]:
# Q14.Which of the following variable(s) are character data type?
# a. K= ‚Äú4‚Äù
# b. J= ‚ÄúWelcome‚Äù
# c. L= ‚Äú?‚Äù
# d. All of the above

# Q14 Answer: d. All of the above

In [ ]:
# Q15.Choose the symbol/s that does not have the ability to convert any values to string?
# a. ( )
# b. ‚Äú ‚Äù
# c. {}
# d. #

# Q15 Answer: d. #

In [12]:
# Q16.Create a dictionary ‚ÄòCountry‚Äô that maps the following countries to their capitals
# respectively:

# Q16 Answer:
Country = {
    "India": "Delhi",
    "China": "Beijing",
    "Japan": "Tokyo",
    "Qatar": "Doha",
    "France": "Marseilles"
}

# Find 2 commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is
# command1
Country["France"] = "Paris"
#command2
Country.update({"France": "Paris"})

In [ ]:
# Q17. Create the tuples given below
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)
# Identify which of the following code does not work on a tuple.
# a. sum(tuple_1)
# b. len(tuple_2)
# c. tuple_2 + tuple_1
# d. tuple_1[3] = 45


#Q17 Answer: d. tuple_1[3] = 45

In [ ]:
# Q18. How many elements in the following data structure?
# Q18 Answer: 6
S = {1,2,3,4,4,4,5,6}

In [13]:
# Q19.Write a function which finds all pythagorean triplets of triangles whose sides are no
# greater than a natural number N

#Q19 Answer:

def pythagorean_triplets(N):
    triplets = []
    for a in range(1, N+1):
        for b in range(a, N+1):
            c = (a**2 + b**2) ** 0.5
            if c == int(c) and c <= N:
                triplets.append((a, b, int(c)))
    return triplets

# Example usage:
N = 10
print(pythagorean_triplets(N))

[(3, 4, 5), (6, 8, 10)]